/*
 * Master stylesheet for Budgetr
 */

body {
	font-family: helvetica;
	font-size: 0.8em;
}

table {
	border-collapse: separate;
	border-spacing: 0 0.2em;
}

	tr { text-align: left; }

	th {
		text-align: center;
		cursor: pointer;
	}
	
	td {
		margin: 0;
		padding: 0.3em 1em;
	}

#container {
    width: 100%;
    min-width: 1100px;
}

.message {
	color: #080;
	font-weight: bold;
}
.error { color: #C00; }


.addVar, .removeVar { cursor: pointer; }
.addVar td, .newItem.first td { padding-top: 1em; }

.catHeader {
	color: #FFF;
	background-color: #55D;
}

.grandTotal {
	color: #FFF;
	background-color: #79C;
}

aside {
    position: fixed;
    margin: 0 1em;
    width: 200px;
    left: 80%;
    top: 0;
}
	aside div {
		margin: 2em 0;
	}
	aside .remaining {
		padding: 0.2em;
	}

	.list tr:nth-child(2n+1) td { background: #EEE; }
	
#budget { width: 80%; }

    #budget td:last-child { width: 3%; }
	#budget td.itemName { width: 20%; }

	#budget td input { width: 85%; }

	.category { width: 15%; }
	.month, .day { width: 5%; }
	.amount {
		width: 12%;
		text-align: right;
	}
	#budget td.amount input { width: 5em; }

	.budgetTotal { 	background-color: #EEE; }

	.remaining {
	    background-color: #55D;
	    color: #FFF;
	}

.instruct {
	color: #888;
}

@media screen and (max-width:1150px) {

    #container { width: 1100px; }
	
	aside {
		position: relative;
		float; none;
		left: 0;
	}
}
