:root {
  --footer-height: 2.5em;
  --footer-padding: 0.8em 1em 0;
}

main {
  font-family: sans-serif;
  width: 75rem;
  max-width: 98%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  color: #333;
  line-height: 1.4em;
  padding-bottom: var(--footer-height);
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

ul, li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
article {
  margin: 0.2em;
  padding: 0.3em;
  display: grid;
  grid-template-columns: 3fr 4fr 1fr 2fr 1fr;
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  border-top: 2px dashed grey;
  width: 100%;
  height: var(--footer-height);
  padding: var(--footer-padding);
  text-align: right;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.i--selected {
  background: lightgrey;
}
.i-handle {
  margin: 0 1em;
  display: block;
  height: 1em;
  width: 1em;
  border: 1px dashed grey;
  cursor: pointer;
}
.i--selected .i-handle,
.i--selection-start .i-handle {
  border-style: solid;
  background: darkgrey;
}

.i-day input {
  width: 5ch;
}
.i-amount input {
  width: 12ch;
}

.i-action {
  cursor: pointer;
}

.help {
  color: grey;
  font-style: italic;
}
.emphasized {
  font-weight: bold;
}